<div>
    <h1 style="text-align:center;">Producto eliminado</h1>

    <h2>¡Hola!</h2>
    <p>El administrador del sistema te elimino el siguiente producto</p>
    <p><strong>{{productName}}</strong></p>
    <small>Espero que sepas perdonarlo!</small>
</div>