<div>
    <h1 style="text-align:center;">Usuario eliminado</h1>
    <h2>¡Hola {{user.first_name}}!</h2>
    <p>Hemos eliminado tu usuario, ya que lleva mas de 30 minutos inactivo</p>
    <small>Esperemos que vuelvas pronto</small>
</div>