<div>
    <h1 style="text-align:center;">Compra realizada con exito!</h1>
    <!--
    <br/>
    <div style=" text-align: center; ">
        <img src="cid:banner">
    </div>
    -->
    <h2>¡Hola {{userName}}!</h2>
    <p><strong>Orden de compra:</strong> {{ticketID}}</p>
    <p><strong>Cantidad de productos:</strong> {{amount}}</p>
    <small>Espero que lo desfrutes</small>
</div>