<style>

</style>
<div class="container">

    <section class="vh-100">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card rounded" >
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Registro</h2>
                                <form id="registerForm">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="first_name">Nombre</label>
                                        <input type="text" id="first_name" name="first_name" class="form-control form-control-lg" />                  
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="last_name">Apellido</label>
                                        <input type="text" id="last_name" name="last_name" class="form-control form-control-lg" />                  
                                    </div>                                    

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" id="email" name="email" class="form-control form-control-lg" />                  
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" name="password" class="form-control form-control-lg" />                                        
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary btn-block btn-lg">Registrar</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Ya tenes cuenta? <a href="/login" class="fw-bold text-body"><u>Ingresar</u></a></p>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>

