.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
.site-header a {
    color: #ccc;
    transition: color .15s ease-in-out;
}

.site-header .navuser .dropdown-menu a {
    color: #000;
    transition: color .15s ease-in-out;
}

.menu-admin {
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    z-index: 9;
    background: lightgray;
}

@media (max-width: 600px) {
    .site-header .navuser {
        margin: -10px 0 0 0!important;
    }
    .navbar-brand {
        font-size: 1rem;
        padding: 8px 0;
    }
    .menu-admin {
        top: 51px;
    }
    .btnlogin{
        margin: -8px 0!important;
    }
}


.price {
    font-weight: bold;
    font-size: 16px;
}

.price-cart {
    margin-right: 20px;
}
.product-title{
    min-height: 60px;
}
.product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 100px;
}
.product .stock{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 5px 5px;
}
.product .category{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0 ;
    font-size: 1rem;
}