<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Sin permiso</h1>    
            <p>Para realizar esta acccion es necesario que estes con tu usuario y los permisos necesarios</p>    
        </div>
    </div>
</section>



